<script setup lang="ts"></script>
<template>
  <div data-theme="black" class="h-screen w-screen overflow-auto">
    <ClientOnly>
      <div class="h-full carousel carousel-vertical rounded-box">
        <div class="carousel-item h-full">
          <Counter />
        </div>
        <div class="carousel-item h-full">
          <History />
        </div>
      </div>
    </ClientOnly>
  </div>
</template>
