<script setup lang="ts">
import dayjs from "dayjs";
import duration from "dayjs/plugin/duration";
import relativeTime from "dayjs/plugin/relativeTime";

dayjs.extend(duration);
dayjs.extend(relativeTime);

const lastTime = ref(dayjs("2023-05-07 15:25:00"));
const _duration = ref(dayjs.duration(dayjs().diff(lastTime.value)));
const percentDone = computed(() => _duration.value.as("seconds") / 864);

onMounted(() => {
  setInterval(() => {
    _duration.value = dayjs.duration(dayjs().diff(lastTime.value));
  }, 100);
});

function reset() {
  lastTime.value = dayjs();
}
</script>
<template>
  <div class="w-full h-full flex flex-col items-center justify-center gap-5">
    <div
      class="radial-progress bg-primary"
      :style="{ '--value': percentDone, '--size': '15rem' }"
    >
      <div class="text-center text-3xl">{{ _duration.humanize() }}</div>
      <div class="text-center">
        {{ `${Math.floor(_duration.asDays())}:${_duration.format("H:m:s")}` }}
      </div>
    </div>
    <button class="btn btn-primary rounded-full" @click="reset">
      <Icon name="carbon:reset" size="1.5rem" />
    </button>
  </div>
</template>
