<script setup lang="ts">
import dayjs from "dayjs";

const history = [
  { startTime: dayjs(), endTime: dayjs() },
  { startTime: dayjs(), endTime: dayjs() },
  { startTime: dayjs(), endTime: dayjs() },
  { startTime: dayjs(), endTime: dayjs() },
  { startTime: dayjs(), endTime: dayjs() },
  { startTime: dayjs(), endTime: dayjs() },
  { startTime: dayjs(), endTime: dayjs() },
  { startTime: dayjs(), endTime: dayjs() },
  { startTime: dayjs(), endTime: dayjs() },
  { startTime: dayjs(), endTime: dayjs() },
];
</script>
<template>
  <div class="h-full w-full bg-base-200 p-5 flex flex-col gap-5 overflow-auto">
    <HistoryItem
      v-for="entry of history.reverse()"
      :startTime="entry.startTime"
      :endTime="entry.endTime"
    />
  </div>
</template>
