<script setup lang="ts">
import dayjs from "dayjs";
import duration from "dayjs/plugin/duration";
import relativeTime from "dayjs/plugin/relativeTime";

dayjs.extend(duration);
dayjs.extend(relativeTime);

const props = defineProps({
  startTime: {
    type: dayjs.Dayjs,
    required: true,
  },
  endTime: {
    type: dayjs.Dayjs,
    required: true,
  },
});

const _duration = dayjs.duration(props.endTime.diff(props.startTime));
</script>
<template>
  <div class="p-3 rounded-lg bg-base-300">
    <div>{{ _duration.humanize() }}</div>
    <div>
      {{ props.startTime.format("DD MMM YYYY HH:mm:ss") }} to
      {{ props.endTime.format("DD MMM YYYY HH:mm:ss") }}
    </div>
  </div>
</template>
